.center-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.addPage {
    width: 70%; /* Adjust as necessary */
    max-width: 1000px; /* Limits form width on large screens */
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.inputBoxContainer {
    margin-bottom: 1rem;
}

.inputBoxContainer > input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.inputBoxContainer > input:focus {
    border-color: #007bff;
    outline: none;
}

/* .select2-selection__rendered {
    line-height: fit-content !important;
} */
.select2-container .select2-selection--single {
    height: fit-content !important;
    border: 1px solid #ddd;
}
.select2-selection__arrow {
    height: 100% !important;
}

.inputBox {
    width: 100%;
    padding: 8px 4px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.inputBox:focus {
    border-color: #007bff;
    outline: none;
}

.inputBoxContainer textarea {
    width: 100%;
    height: 400px; 
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    resize: none; 
    overflow-y: auto;
}

.inputBoxContainer textarea:focus {
    border-color: #007bff;
    outline: none;
}

#chooseFileText {
    pointer-events: none;
}

#file-preview {
    display: none;
    max-width: 29rem;
    max-height: 43rem;
    border-radius: 13px;
}

#insertButton {
    width: 100%;
}

.uploadPoster {
    width: 100%;
    border: dashed grey 1.5px;
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    color: grey;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#poster {
    display: none;
}