.detail-page {
    padding: 5rem;
    display: flex;
    justify-content: center;
    padding: 5rem;
    display: flex;
    justify-content: center;
}

.detail-form-container {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.company-detail p{
    font-size: 1.1rem;
}

.company-info{
    display: flex;
    gap: 20px;
    max-height: 48rem;
}

.company-detail {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9; 
    padding: 30px;             
    border-radius: 8px;        
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    min-width: 30rem;
    max-width: 50rem;
    overflow-wrap: break-word;
}

img {
    max-width: 29rem;
    max-height: 43rem;
    border-radius: 13px;
}

.inputBoxContainer {
    margin-bottom: 1rem;
}

.inputBoxContainer > input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.inputBoxContainer > input:focus {
    border-color: #007bff;
    outline: none;
}

.company-description {
    display: flex;
    flex-direction: column;
    text-align: justify;
    max-height: 15rem !important; 
    overflow: auto; 
    padding-right: 5px; 
}

.job-description {
    display: flex; 
    flex-direction: column;
    text-align: justify;
    overflow: auto;
    max-height: 23rem;
    padding-right: 5px;
}

.company-description::-webkit-scrollbar,.job-description::-webkit-scrollbar {
    width: 8px; 
}

.company-description::-webkit-scrollbar-track,.job-description::-webkit-scrollbar-track {
    background: transparent; 
}

.company-description::-webkit-scrollbar-thumb,.job-description::-webkit-scrollbar-thumb {
    background-color: gray; 
    border-radius: 4px; 
}

#button {
    width: 100%;
}

.apply-job {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-top: 10px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.apply-job > div:first-child {
    flex-grow: 1;
    padding-right: 15px;
}

.apply-job p {
    margin: 5px 0;
    color: #555555;
}

.apply-job button {
    margin-left: 10px;
    width: 80px;
}

.apply-job button.btn-primary {
    background-color: #007bff;
    border: none;
}

.apply-job button.btn-danger {
    background-color: #dc3545;
    border: none;
}

/* Button Hover Effects */
.apply-job button:hover {
    opacity: 0.9;
    transition: opacity 0.2s;
}