.custom-container {
   padding-left: 10px;
   padding-right: 10px;
}

.subTitle-box {
   background-color: #8B3333; 
   padding: 1% 1%;
   border-radius: 10px; 
   text-align: center; 
   min-width: 15%; 
   max-width: 20%; 
   margin: auto; 
   color: white; 
   font-weight: bold;
   font-size: 1.5rem;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

.job-list-container {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap: 2rem 4rem; 
}

.job-box {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   flex-basis: 20%; 
   max-width: 350px; 
   height: 30vh;
   font-size: 1.2rem;
   font-weight: bold;
   box-sizing: border-box;
}

.job {
   border-radius: 0.5rem;
   padding: 1rem 1.5rem;
   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.job img {
      width: 200px; 
      height: 200px; 
      object-fit: contain; 
}

.box-container {
   background: linear-gradient(135deg, #ffe6e9 0%, #ffd1dc 100%);
   padding: 35px;
   width: 80%;
   max-width: 850px;
   margin: auto;
   border-radius: 30px;
   box-shadow: 0 10px 20px rgba(255, 182, 193, 0.2);
   transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
   text-align: center;
}

.box-container:hover {
   transform: translateY(-8px);
   box-shadow: 0 12px 24px rgba(255, 105, 135, 0.3);
   background: linear-gradient(135deg, #ffd1dc 0%, #ffc1c9 100%);
}

.box-container h1 {
   font-size: 2.8rem;
   font-weight: 700;
   margin-bottom: 20px;
   letter-spacing: 1.2px;
}

.box-text {
   text-align: justify;
   font-size: 1.15rem;
   line-height: 1.8;
   color: #6a0d34;
   font-family: 'Arial', sans-serif;
   padding: 0 15px;
}

@media (max-width: 768px) {
   .box-container {
       padding: 25px;
       width: 90%;
   }

   .box-container h1 {
       font-size: 2rem;
   }

   .box-text {
       font-size: 1rem;
   }
}
